@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mako&display=swap');

* {
    margin: 0;
    padding: 0;
}

.koulen-regular {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mako-regular {
    font-family: "Mako", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #d9d9d9; /* cinza */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    justify-items: center;
    text-align: center;
    justify-content: flex-start;
}

#logo {
    margin-right: auto;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
    width: auto;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: #C2C2C2;
}

footer {
    height: 50px;
    width: 100%;
    background-color: white;

}


#invisivel {
    width: 100px;
    margin-left: auto;
}

.sidebar hr {
    border: 1px solid #d9d9d9;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.sidebar {
    height: inherit;
    width: 300px;
    background-color: #C2C2C2;
    color: #6c6c6c;
    padding-top: 10px;
    font-family: "Mako", sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#person {
    color: black;
    font-size: 50px;
}

.pessoa {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: 30px;
}

.pessoa p {
    margin-top: 20px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
}

#logout {
    color: black;
    font-size: 15px;
}

.deslogar {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin-left: 30px;
    color: black;
}

.deslogar:hover {
    font-weight: bold;
}

.deslogar p {
    margin-left: 5px;
}


dl {
    margin-left: 10px;
    display: flex;
    flex-direction: column;

}

dt {
    margin-left: 20px;
    margin-bottom: 10px;
}

.dt2{
    margin-bottom: 15px;
}

dd {
    margin-left: 30px;
    margin-bottom: 10px;
}

dl #txt:hover {
    color: black;
}


.meio {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
}