h1 {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Koulen", sans-serif;
    align-self: center;
    justify-self: center;
    margin-top: 50px;
}

.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    align-self: center;
    justify-self: center;
    font-family: "Koulen", sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d9d9d9;

}

td {
    background-color: white;
}
