@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.koulen-regular {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    color: black;
    width: 300px;
    margin-top: 70px;
    align-items: center;
    padding-left: 500px;
}

h2 {
    justify-content: center;
    width: 1000px;
    height: auto;
    background-color: white;
    margin-right: 90px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "Koulen", sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 15px;
    width: 1000px;
    justify-content: center;
    font-family: "Koulen", sans-serif;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;

}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.btn {
    margin-top: 50px;
    font-family: "Koulen", sans-serif;
    display: flex;
    width: 30%;
    padding: 10px;
    background-color: #ff0000;
    color: #ffffff;
    border: black groove;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    justify-content: center;
    margin-left: 300px;

}