<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>Base</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/base.css">

</head>
<body>
<header>
    <a class="navbar-brand" id="logo">
        <img src="../static/imagens/logo.png" width="60" height="60">
        <strong class="koulen-regular" id="txt_logo">Tech Managers</strong>
    </a>

</header>
<aside class="sidebar">
     <div class="pessoa"><i class="bi bi-person-circle" id="person"></i>
            <p>Olá, Nome</p></div>
        <hr>
        <dl class="lista">
            <dt class="dt1" id="txt">Funcionarios</dt>
            <dt class="dt2" id="txt">Itens</dt>
            <dd class="dd1" id="txt">Todos os itens</dd>
            <dd class="dd2" id="txt">Roupas</dd>
            <dd class="dd3" id="txt">Ferramentas</dd>
            <dd class="dd4" id="txt">Matérias primas</dd>
        </dl>
        <hr>
        <div class="deslogar"><i class="bi bi-box-arrow-left" id="logout"></i>
            <p>Logout</p></div>
</aside>

<main>
    <div class="meio">
        {% block conteudo %} {% endblock %}
    </div>
</main>

<footer>
</footer>

</body>
</html>