<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>Tech Managers Oficial BR</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="shortcut icon" href="../static/imagens/logo.png">
</head>
<body>
<header>
    <a class="navbar-brand" id="logo">
        <img src="../static/imagens/logo.png" width="60" height="60">
        <strong class="koulen-regular" id="txt_logo">Tech Managers</strong>
    </a>
</header>
<aside class="sidebar">
    {% if 'admin' in session and session['admin'] %}
        <div class="pessoa"><i class="bi bi-person-circle" id="person"></i>
            <p>Olá Admin</p></div>
        <hr>
        <dl class="lista">
            <dt class="dt1" id="txt"><a href="{{ url_for('telafuncionarios') }}">Funcionarios</a></dt>
            <dt class="dt2" id="txt"><a href="{{ url_for('telaitens') }}">Itens</a></dt>
            <dd class="dd1" id="txt"><a href="{{ url_for('telaitens') }}">Todos os itens</a></dd>
            <dd class="dd2" id="txt"><a href="{{ url_for('tela_roupas') }}">Roupas</a></dd>
            <dd class="dd3" id="txt"><a href="{{ url_for('tela_ferramentas') }}">Ferramentas</a></dd>
            <dd class="dd4" id="txt"><a href="{{ url_for('tela_materia_prima') }}">Matérias primas</a></dd>
        </dl>
    {% else %}
        <div class="pessoa"><i class="bi bi-person-circle" id="person"></i>
            <p>Olá {{ session['nome_funcionario'] }}</p></div>
        <hr>
        <dl class="lista">
            <dt class="dt2" id="txt"><a href="{{ url_for('TelaFI') }}">Itens</a></dt>
            <dd class="dd1" id="txt"><a href="{{ url_for('TelaFI') }}">Todos os itens</a></dd>
            <dd class="dd2" id="txt"><a href="{{ url_for('tela_roupas') }}">Roupas</a></dd>
            <dd class="dd3" id="txt"><a href="{{ url_for('tela_ferramentas') }}">Ferramentas</a></dd>
            <dd class="dd4" id="txt"><a href="{{ url_for('tela_materia_prima') }}">Matérias primas</a></dd>
        </dl>
    {% endif %}
        <hr>
        <div class="deslogar"><i class="bi bi-box-arrow-left" id="logout"></i>
            <a href="{{ url_for('logout') }}">Logout</a></div>
</aside>

<main>
    <div class="meio">
        {% block conteudo %}
        {% endblock %}
    </div>
</main>

<footer>
</footer>

</body>
</html>
