<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

<header>
    <div class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" id="logo">
                <img src="../static/imagens/logo.png" width="60" height="60">
            </a>
        </div>
    </div>
</header>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        <div id="mensagem"><h1>{{ message }}</h1></div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
<main>
    <div class="page">
        <img src="../static/imagens/Businesswomen%20shaking%20hands%20at%20work.png" id="imgLogin">
        <form class="formLogin" method="post">
            <h1><b class="bi bi-person-circle"></b> Bem-Vindo</h1>
            <label for="email"><i class="bi bi-envelope"></i></label>
            <input type="email" autofocus="true" name="email" required/>
            <label for="password"><i class="bi bi-lock"></i></label>
            <input type="password" autofocus="true" name="senha" required/>
            <input type="submit" value="LOGIN" class="btn" name="botao"/>
        </form>
    </div>
</main>

<footer>

</footer>

</body>
</html>