<!DOCTYPE html>
{% extends "base.html" %}


{% block conteudo %}
    <link rel="stylesheet" href="../static/RelatorioItens.css">
    <h1>RELATORIO DE ITENS</h1>

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
        {% for item in itens %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.id }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}