{% extends "base.html" %}


{% block conteudo %}
<body>
<link rel="stylesheet" href="../static/RelatorioFuncionarios.css">
    <main>
        <h1>RELATORIO DE FUNCIONARIOS</h1>

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>CPF</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>fulaninho da silva</td>
                    <td>fulaninhosilva@gmail.com</td>
                    <td>65264726245</td>
                    <td>453274594543</td>
                </tr>

            </tbody>
        </table>
    </main>
</body>
{% endblock %}