<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Itens Admin</title>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Tela A-Item</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../static/TelaAItens.css">
    </head>
    <body>
    <header>
        <div class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" id="logo">
                    <img src="../static/imagens/logo.png" width="60" height="60">
                    <strong class="koulen-regular">Tech Managers</strong>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="sidebar">
            <p href="#" id="perfil">
                <i class="bi bi-person-circle" id="person"> </i> Olá, Nome Admin!</p>
            <hr>
            <a href="#" id="func">Funcionarios</a>
            <a href="#" id="itens">Itens</a>
            <a href="#">ㅤTodos os itens</a>
            <a href="#">ㅤRoupas</a>
            <a href="#">ㅤFerramentas</a>
            <a href="#">ㅤMatérias Primas</a>
            <hr>
            <a href="#"><b class="bi bi-box-arrow-left"> Logout</b></a>
        </div>
        <div class="container">
            <div id="numero">
                <h2 id="itens1">ITENS</h2>
                <div class="botoestitle" id="ladinho">
                    <button id="btn1"><i class="bi bi-plus-lg"></i></button>
                    <button id="btn2"><i class="bi bi-file-earmark-text"></i></button>
                    <button id="btn3"><img src="../static/imagens/Graphic.png" height="20" width="20"></button>
                </div>
            </div>
            <div id="total">
                <p for="numero" id="textonumero"> TOTAL: </p>
                <input type="number" id="camponumero" name="numero" required>
            </div>
            <table>
                <thead>
                <tr>
                    <th>
                        <p>MATERIA PRIMA</p>
                    </th>
                    <th>
                        <p>ROUPAS</p>
                    </th>
                    <th>
                        <p>FERRAMENTAS</p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <div class="card">
                            <div class="input-group">
                                <input type="text" id="nome" name="nome" required>
                                <input type="number" id="nomenumero" name="numero" required>
                            </div>

                            <div class="botoes">
                                <button id="btn1"><i class="bi bi-pencil"></i></button>
                                <button id="btn2"><i class="bi bi-trash"></i></button>
                                <button id="btn3"><i class="bi bi-info-circle"></i></button>
                            </div>
                        </div>
                    </th>

                </tr>
                <tr>
                    <th>
                        <div class="card">
                            <div class="input-group">
                                <input type="text" id="nome" name="nome" required>
                                <input type="number" id="nomenumero" name="numero" required>
                            </div>
                            <div class="botoes">
                                <button id="btn1"><i class="bi bi-pencil"></i></button>
                                <button id="btn2"><i class="bi bi-trash"></i></button>
                                <button id="btn3"><i class="bi bi-info-circle"></i></button>
                            </div>
                        </div>
                    </th>

                </tr>
                </tbody>
            </table>
        </div>

    </main>
    <footer class="footer"></footer>
    </body>
    </html>
    </title>
</head>
</html>