{% extends "base.html" %}


{% block conteudo %}
    <link rel="stylesheet" href="/static/TelaAFuncionario.css">
    <div class="container">
        <div id="numero">
            <p class="titulo">Funcionario</p>
            <div class="botoestitle" id="ladinho">
                <button id="btn1" onclick="window.location.href='{{ url_for('TelaCF') }}'"><i class="bi bi-plus-lg"></i>
                </button>
            </div>
        </div>
        <div id="total">
            <p for="numero" id="textonumero"> TOTAL: </p>
            <input type="number" id="camponumero" name="numero" value="{{ funcionarios | length }}" readonly>
        </div>

        {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-danger">
                  {% for message in messages %}
                    {{ message }}
                  {% endfor %}
                </div>
              {% endif %}
        {% endwith %}

        <div class="cards">
            {% for funcionario in funcionarios %}
                <div class="card">
                    <p>{{ funcionario.nome}}</p>
                    <div class="botoes">
                        <button id="btn1" onclick="window.location.href='{{ url_for('TelaEF', id=funcionario.id) }}'">
                            <i class="bi bi-pencil"></i></button>
                        <button id="btn2"><a href="{{ url_for('delete_funcionario', id=funcionario.id) }}" onclick="return confirm('Deseja deletar este funcionario?')" methods="DELETE">
                            <i class="bi bi-trash"></i></a></button>
                        <button id="btn3" onclick="window.location.href='{{ url_for('TelaDF', id=funcionario.id) }}'">
                            <i class="bi bi-info-circle"></i></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}