{% extends "base.html" %}

{% block conteudo %}
    <body>
    <link rel="stylesheet" href="../static/TelaMovimentacao.css">
    <main>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li class="alert {{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <h2>Movimentacao</h2>
            <form method="post" action="{{ url_for('ad') }}">
                <label for="item"><i class="fas fa-user"></i> NOME DO ITEM</label>
                <select name="nome_item" class="item" id="itemSelect" onchange="updateItemDetails()" required>
                    <option value="">Selecione um item</option>
                    {% for item in itens %}
                        <option value="{{ item.id }}" data-nome="{{ item.nome }}"
                                data-tipo="{{ item.tipo }}"
                                data-quantidade="{{ item.quantidade }}"
                                {% if form_data and form_data.get('id') == item.id|string %}selected{% endif %}>{{ item.nome }}</option>
                    {% endfor %}
                </select>

                <label for="tipoI"><i class="fas fa-user"></i> TIPO DO ITEM</label>
                <input type="text" id="tipoI" name="tipoI" required readonly value="{{ form_data.get('tipoI', '') }}">

                <label for="id"><i class="fas fa-user"></i> ID ITEM</label>
                <input type="text" id="id" name="id" required readonly value="{{ form_data.get('id', '') }}">

                <label for="nome"><i class="fas fa-user"></i> NOME DO FUNCIONARIO</label>
                <select name="funcionario" class="funcionario" required>
                    <option value="">Selecione um funcionário</option>
                    {% for func in func %}
                        <option value="{{ func.id }}"
                                {% if form_data and form_data.get('funcionario') == func.id|string %}selected{% endif %}
                                >{{ func.nome }}</option>
                    {% endfor %}
                </select>

                <label for="data">DATA</label>
                <input type="date" id="data" name="data" required value="{{ form_data.get('data', '') }}">

                <label for="movimentacao"><i class="fas fa-user"></i> TIPO DA MOVIMENTACAO</label>
                <select name="tipoM" class="tipoM" id="tipoMovimentacao" onchange="toggleQuantidadeField()">
                    <option value="">Selecione o tipo de movimentação</option>
                    <option value="Entrada" {% if form_data.get('tipoM') == 'Entrada' %}selected{% endif %}>Entrada</option>
                    <option value="Saida" {% if form_data.get('tipoM') == 'Saida' %}selected{% endif %}>Saida</option>
                </select>

                <div id="quantidadeContainer" style="display: none;">
                    <label for="quantidade">QUANTIDADE</label>
                    <div id="quantidades">
                        <input type="number" id="quantidade" name="quantidade" readonly value="{{ form_data.get('quantidade', '') }}">
                        <p id="imais" style="display: none">+</p>
                        <p id="imenos" style="display: none">-</p>
                        <input type="number" id="quantidade_final" name="quantidade_final" required value="{{ form_data.get('quantidade_final', '') }}">
                    </div>
                </div>

                <div class="btnS">
                    <button type="submit" class="btn">CADASTRAR
                    </button>
                </div>
            </form>
        </div>
    </main>

    <script>
        function updateItemDetails() {
            const selectElement = document.getElementById('itemSelect');
            const selectedOption = selectElement.options[selectElement.selectedIndex];

            // Atualiza os campos de ID e Tipo
            document.getElementById('id').value = selectedOption.value; // ID do item
            document.getElementById('tipoI').value = selectedOption.getAttribute('data-tipo'); // Tipo do item

            const quantidadeInput = document.getElementById('quantidade');
            quantidadeInput.value = selectedOption.getAttribute('data-quantidade'); // Quantidade disponível
        }

        function toggleQuantidadeField() {
            const tipoMovimentacao = document.getElementById('tipoMovimentacao').value;
            const quantidadeContainer = document.getElementById('quantidadeContainer');
            const iconemais = document.getElementById('imais');
            const iconemenos = document.getElementById('imenos');

            // Exibe o campo se um tipo for selecionado, esconde caso contrário
            if (tipoMovimentacao === "Entrada" || tipoMovimentacao === "Saida") {
                quantidadeContainer.style.display = "block";
                if (tipoMovimentacao === "Entrada") {
                    iconemais.style.display = "block"
                    iconemenos.style.display = "none"
                } else {
                    iconemenos.style.display = "block"
                    iconemais.style.display = "none"
                }
            } else {
                quantidadeContainer.style.display = "none";
            }
        }

        window.onload = function() {
        toggleQuantidadeField();
    };
    </script>
    </body>
{% endblock %}