{% extends "base.html" %}


{% block conteudo %}
    <link rel="stylesheet" href="/static/TelaFuncionario.css">
<body>
<main>
<div class="container">
        <div id="numero">
            <h2>FUNCIONARIOS</h2>
            <p for="numero" id="textonumero"> TOTAL</p>
            <input type="number" id="camponumero" name="numero" required>
        </div>
        <form>
            <div class="input-group">
                <input type="text" id="nome" name="nome" required>
            </div>
        </form>
    </div>
</main>
</body>
{% endblock %}