{% extends "base.html" %}


{% block conteudo %}
    <link rel="stylesheet" href="/static/TelaAFerramentas.css">
    <div class="container">
        <div id="numero">
            <p class="titulo">Ferramentas</p>
        </div>
        <div id="total">
            <p for="numero" id="textonumero"> TOTAL: </p>
            <input type="number" id="camponumero" name="numero" value="{{ itens | length }}" readonly>
        </div>

        <div class="cards">
           {% for item in itens %}
                <div class="card">
                    <form class="input-group">
                        <input type="text" id="nome" name="nome" value="{{ item.nome }}" readonly>
                        <input type="number" id="quantidade" name="quantidade" value="{{ item.quantidade }}" disabled>
                    </form>
                </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}