{% extends "base.html" %}


{% block conteudo %}
    <link rel="stylesheet" href="/static/TelaAFerramentas.css">
    <div class="container">
        <div id="numero">
            <h2 id="itens1">Ferramentas</h2>
            <div class="botoestitle" id="ladinho">
                <button id="btn1"><i class="bi bi-plus-lg"></i></button>
                <button id="btn2"><i class="bi bi-file-earmark-text"></i></button>
                <button id="btn3"><img src="../static/imagens/Graphic.png" height="20" width="20"></button>
            </div>
        </div>
        <div id="total">
            <p for="numero" id="textonumero"> TOTAL: </p>
            <input type="number" id="camponumero" name="numero" required>
        </div>
        <table>
            <tbody>
            <tr>
                <th>
                    <div class="card">
                        <div class="input-group">
                            <input type="text" id="nome" name="nome" required>
                            <input type="number" id="nomenumero" name="numero" required>
                        </div>

                        <div class="botoes">
                            <button id="btn1"><i class="bi bi-pencil"></i></button>
                            <button id="btn2"><i class="bi bi-trash"></i></button>
                            <button id="btn3"><i class="bi bi-info-circle"></i></button>
                        </div>
                    </div>
                </th>

            </tr>
            <tr>
                <th>
                    <div class="card">
                        <div class="input-group">
                            <input type="text" id="nome" name="nome" required>
                            <input type="number" id="nomenumero" name="numero" required>
                        </div>
                        <div class="botoes">
                            <button id="btn1"><i class="bi bi-pencil"></i></button>
                            <button id="btn2"><i class="bi bi-trash"></i></button>
                            <button id="btn3"><i class="bi bi-info-circle"></i></button>
                        </div>
                    </div>
                </th>

            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}