{% extends "base.html" %}


{% block conteudo %}
    <link rel="stylesheet" href="/static/TelaFItem.css">

    <div class="container">
        <div id="numero">
            <div class="titulo"><p>ITENS</p></div>
            <div class="campoTotal">
                <p for="numero" id="textonumero"> TOTAL:</p>
                <input type="number" id="camponumero" name="numero" required>
            </div>

        </div>
        <div class="cards">
            <div class="materias">
                <p>MATERIA PRIMA</p>
                <form class="input-group">
                <input type="text" id="nome" name="nome" required>
                <input type="number" id="camponumeroCard" required>
            </form>
                <form class="input-group">
                <input type="text" id="nome" name="nome" required>
                <input type="number" id="camponumeroCard" required>
            </form>
                <form class="input-group">
                <input type="text" id="nome" name="nome" required>
                <input type="number" id="camponumeroCard" required>
            </form>
            </div>
            <div class="roupas">
                <p>ROUPAS</p>
                <form class="input-group">
                <input type="text" id="nome" name="nome" required>
                <input type="number" id="camponumeroCard" required>
            </form>
            </div>
            <div class="ferramentas">
                <p>FERRAMENTAS</p>
                <form class="input-group">
                <input type="text" id="nome" name="nome" required>
                <input type="number" id="camponumeroCard" required>
            </form>
            </div>

        </div>
    </div>

{% endblock %}