{% extends "base.html" %}


{% block conteudo %}
    <link rel="stylesheet" href="/static/TelaFuncionario.css">

    <div class="container">
        <div id="numero">
            <div class="titulo"><p>FUNCIONARIOS</p></div>
            <div class="campoTotal">
                <p for="numero" id="textonumero"> TOTAL:</p>
                <input type="number" id="camponumero" name="numero" >
            </div>
        </div>
        <div class="cards">
            {%for funcionario in funcionario %}
            <div class="card">
                <p>{{ funcionario.nome }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}