<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Detalhes Funcionario</title>
    <link rel="stylesheet" href="../static/TelaDetalhesFuncionario.css">

</head>
<body>
<header>
<div class="navbar navbar-expand-sm navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" id="logo">
            <img src="logo.png" width="60" height="60">
            <strong class="koulen-regular">Tech Managers</strong>
        </a>
    </div>
    </div>
</header>
<main>
<div class="sidebar">
    <p href="#" id="perfil">
    <img src="imagens/icone_perfil.png" width="60" height="60">
    <i class="bi bi-person-circle" id="person"></i>Ola , Nome Admin!</p>
    <hr>
    <a href="#" id="func">Funcionarios</a>
    <a href="#" id="itens">Itensㅤㅤㅤㅤㅤㅤㅤㅤ<i class="bi bi-arrow-down-short"></i></a>
    <a href="#">ㅤTodos os itens</a>
    <a href="#">ㅤRoupas</a>
    <a href="#">ㅤFerramentas</a>
    <a href="#">ㅤMatérias Primas</a>
    <hr>
    <a href="#"><b class="bi bi-box-arrow-left"> Logout</b></a>
</div>
<div class="container">
        <h2>DETALHES FUNCIONARIO</h2>
        <form>
            <div class="input-group">
                <label for="nome"><i class="fas fa-user"></i> NOME</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="input-group">
                <label for="email"><i class="fas fa-envelope"></i> EMAIL</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="cpf"><i class="fas fa-id-card"></i> CPF</label>
                <input type="number" id="cpf" name="cpf" required>
            </div>
            <div class="input-group">
                <label for="senha"><i class="fas fa-lock"></i> SENHA</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <div class="input-group">
                <label for="ID"><i class="fas fas-card"></i> ID</label>
                <input type="number" id="ID" name="ID" required>
            </div>
        </form>
    </div>
</main>
<footer class="footer"></footer>

</body>
</html>