{% extends "base.html" %}


{% block conteudo %}
    <link rel="stylesheet" href="/static/TelaFuncionario.css">

    <div class="container">
        <div id="numero">
            <div class="titulo"><p>FUNCIONARIOS</p></div>
            <div class="campoTotal">
                <p for="numero" id="textonumero"> TOTAL:</p>
                <input type="number" id="camponumero" name="numero" required>
            </div>

        </div>
        <div class="cards">
            <form class="input-group">
                <input type="text" id="nome" name="nome" required>
            </form>
            <form class="input-group">
                <input type="text" id="nome" name="nome" required>
            </form>
        </div>
    </div>

{% endblock %}